services:
  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    command: mongod --quiet   
    networks:
      - mern-network

   
  frontend:
    build: ./frontend
    container_name: react_docker_frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:5000
    networks:
      - mern-network

  backend:
    build: ./backend
    container_name: react_docker_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge
