services:
  mongo:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"

    command: ["sh", "-c", "mongod --quiet --bind_ip_all 2>/dev/null"]
    restart: unless-stopped

    volumes:
      - mongo_data:/data/db
    networks:
      - mern-network

  frontend:
    build: ./frontend
    container_name: react_docker_frontend
    ports:
      - "5173:5173"
    depends_on:
      backend:
        condition: service_started
  
    volumes:
      - ./frontend:/app:delegated
      - /app/node_modules
    environment:
      VITE_API_URL: "http://localhost:5000"
      CHOKIDAR_USEPOLLING: "true"
    command: ["npm", "run", "dev", "--", "--host", "0.0.0.0"]
    networks:
      - mern-network

  backend:
    build: ./backend
    container_name: react_docker_backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    
    depends_on:
      mongo:
        condition: service_started

   
    command: ["npm", "start"]
    restart: unless-stopped
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge

volumes:
  mongo_data:
    driver: local
